*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/jarRepositories.xml
/.idea
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_05_2022,_23_29_[Changes]/shelved.patch
