<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysympleapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".hw9.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hw9.Main9Activity" />

        <service android:name=".hw7.SearchService" />
        <service android:name=".hw7.PhotoService" />
        <service android:name=".hw7.PhotoIntentService" />
        <service android:name=".hw8.GeoService" />

        <activity android:name=".hw8.Main8Activity" />
        <activity android:name=".hw7.PhotoRedactorActivity" />
        <activity android:name=".hw7.Main7Activity" />
        <activity
            android:name=".hw7.SearcFilesActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".hw6.ChatActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".hw6.Main6Activity" />
        <activity android:name=".hw6.Main6Activity" />
        <activity android:name=".hw5.Main5Activity" />
        <activity android:name=".hw4.Main4Activity" />
        <activity
            android:name=".hw3.ConstrainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".hw3.Main3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".hw2.DescriptionActivity" />
        <activity android:name=".hw2.Main2Activity" />
        <activity android:name=".hw1.Main1Activity" />
        <activity android:name=".hw1.Statistic" />
        <activity android:name=".hw1.GameOverActivity" />
        <activity android:name=".hw1.SecondActivity" />
        <activity
            android:name=".Prime_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hw4.ProfilActivity" />

        <service
            android:name=".hw6.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".hw9.NotificationSmsService" />

        <receiver
            android:name=".hw9.SmsReciever"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter
                android:priority="99">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED_ACTION"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>