<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysympleapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".hw9.newDesign.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cat_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".hw9.newDesign.ui.MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hw9.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hw9.DetailMonthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hw9.Main9Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".hw9.view.auth.EmailPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" />

        <service android:name=".hw9.NotificationSmsService" />

        <receiver
            android:name=".hw9.SmsReciever"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="99">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED_ACTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>